<!DOCTYPE html>
<html>
  <head>
    <meta charset=UTF-8>
	<meta name="description" content="Boogle">
	<meta name="keywords" content="Boogle, NikKova">
	<meta name="author" content="NikKovacic">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="../assets/img/Icon.jpg">
	<title>Boogle</title>
	<link href="../assets/css/style.css" type="text/css" rel="stylesheet">

  </head>

  <body>
    <div id="viewport">
	  <div class="header">
	    <ul>
		  <li class="Bmail-button">
		    <a href="#"><button class="Bma-but">Bmail</button></a>
		  </li>
	      <li class="Images-button">
		    <a href="#"><button class="Img-but">Images</button></a>
		  </li>
		  <li class="Sign-in-button">
		    <a href="/Boogle_login"><button class="singin">Sign in</button></a>
		  </li>
		</ul>
	  </div>
	  <div class="middle">
	    <div class="Boogle-picture">
		  <img src="https://booglebookclub.com/images/logo.png" alt="Boogle picture" width="300px" />
		</div>
		<div class="Search-engine">
		  <form>
		    <input class="input1" type="text" placeholder="Search"/>
		  </form>
		</div>
		<div class="Buttons">
		  <button class="Button1">Boogle Search</button>
		  <button class="Button1">I'm Feeling Lucky</button>
		</div>
	  </div>


	</div>

  </body>

</html>